<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>angularrr</title>
    <meta charset="UTF-8">

  <!-- LINKED CSS FILES -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src ="ang_ex.js"></script>
</head>
<body ng-app ="ngFun">
<div class = "container">
<div ng-controller = "PokemonCtrl">
<h1>Pokemon Trainer: {{trainer.name}}</h1>
     <h3>{{catchphrase | uppercase}}</h3>
         <span>Enter your name: </span>
         <input ng-model ="trainer.name"/>
     <!--     whatever the value of the input tag is it is going to set it as the trainer's name. as input is getting updated then whenever scope is getting updated so
     controller is updated and vice-versa -->

    <pre>{{pokemon | json}}</pre>


    <div ng-repeat=" pokemon in pokemons">
      {{pokemon.name}} type of {{pokemon.type}}
     </div>

     <label>Search: <input ng-model="searchText"></label>
     <table id="searchTextResults">
  <h4>Pokemon:</h4>
    <table class= "table">
    <thead>
      <th>Ndex</th>
       <th>Name</th>
        <th>Type</th>
        </thead>
        <tbody>
        <tr ng-repeat=" pokemon in pokemons | filter:searchText | orderBy: '-Ndex' : 'reverse'">
          <td >{{pokemon.Ndex}}</td>
          <td>{{pokemon.name}}</td>
          <td>{{pokemon.type}}</td>
        </tr>
      </tbody>
    </table>

  <h4>Pokemon Nemesis:</h4>
    <table class= "table">
    <thead>
      <th>Ndex</th>
       <th>Name</th>
        <th>Type</th>
        </thead>
        <tbody>
        <tr ng-repeat=" pokemon in pokemons| filter:searchText | orderBy: '-Ndex' : 'reverse' ">
          <td >{{pokemon.Ndex}}</td>
          <td>{{pokemon.name | reverse}}</td>
          <td>{{pokemon.type}}</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
</body>
</html>